@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    11% {
        transform: perspective(100px) rotateX(107deg) rotate(200deg);
    }
    100% {
        transform: perspective(1000px) rotateX(86deg) rotate(25deg);
    }
}

.container .box span {
    position: absolute;
    color: rgb(63, 168, 209);
    font-size: 3.5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    background: linear-gradient(90deg, transparent, rgb(7, 0, 0), transparent);
    line-height: 0.76em;
    transform-style: preserve-3d;
    text-shadow: 0 5px 15px rgba(18, 33, 167, 0.788);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(106px);
}

.container .box span i:nth-child(1) {
    font-style: initial;
    color: #640627;
}

.container .box span i:nth-child(2) {
    font-style: initial;
    color: #70c93c;
}